.button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background-color: #d1274b;
    color: #fff4e4;
    border-radius: 3px solid #000;
    cursor: pointer;
    font-family: 'Baloo', cursive;
}

.operator {
    background-color: #f88020;
    color: #fff4e4;
    font-family: 'Baloo', cursive;
}
